<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77086832028-j4omi55vopf1mt7trp9a0sbgfks8rrbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77086832028-j4omi55vopf1mt7trp9a0sbgfks8rrbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRXYJ1t7achMvgy8GE1tAuhAFGJirfSg</string>
	<key>GCM_SENDER_ID</key>
	<string>77086832028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sun.Threads</string>
	<key>PROJECT_ID</key>
	<string>threads-clone-a63c4</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-clone-a63c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77086832028:ios:eea4033e5634627b784459</string>
</dict>
</plist>